//Khai báo biến

/*
    +Text : font-size, font-weight , color


*/
$text-c1-primary:#2a73dd;
$text-c1-dark:#000;
$text-c1-light:#fff;


$text-xs:14px;
$text-base:16px;
$text-xl:18px;
$text-2xl:20px;
$text-3xl:30px;
$text-4xl:40px;
$text-5xl:50px;
$text-6xl:60px;

$text-light:300;
$text-regular:400;
$text-semibold:600;
$text-bold:700;

/*
    background:color;
*/
$bg-c1-primary:#2a73dd;
$bg-c1-light:#f5f9fe;
$bg-transparent: transparent;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

// Hàm trong scss (mixin)
@mixin text($fz:$text-base,$fw:$text-regular,$c:$text-c1-dark){
    font-size: $fz;
    font-weight: $fw;
    color: $c;
}
@mixin  button($fz,$fw,$c,$bg,$pd,$bd,$br,$bg-hover,$c-hover) {
    box-shadow: #c9d8f4 0px 3px 6px;
    // font-size: 16px;
    // font-weight: 600;
    // color: #000;
    @include text($fz,$fw ,$c);
    background: $bg;
    padding: $pd;
    border: $bd;
    border-radius:$br;
    cursor: pointer;
    &:hover{
        background: $bg-hover;
        color:$c-hover;
    }
}



//nesting css
.header {
    background-color: $bg-c1-light;
    -webkit-box-shadow: 0px 13px 13px 2px rgba(19,210,237,0.54); 
box-shadow: 0px 13px 13px 2px rgba(19,210,237,0.54);
    .container{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
        .logo{
            text-decoration: none;
            // font-size: $text-3xl;
            // font-weight: $text-semibold;
            // color: $text-c1-primary;
            @include text($text-3xl,$text-semibold ,$text-c1-primary)

        }
        .menu{
            a{
                margin: 0 15px;
                // 
                @include text();
                text-decoration: none;
                position: relative;
                &::before{
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: $bg-c1-primary;
                    left: 0;
                    bottom: -5px;
                    transform: scale(0,1);
                    transition: transform 0.3s;
                }
                &:hover{
                    color: $text-c1-primary;
                    &::before{
                        transform: scale(1,1);
                    }
                }
            }
        }

    }
}


.carousel{
    background-image: url(../img/product-header-bg.jpg);
    background-size: cover;
    background-position: center right;
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 800px;
        .detail{
            .product-name{
                font-size: 60px;
                font-weight: bold;
                color: #2a73dd;
            }
            .product-desc{
                font-size: 16px;
                font-weight: 600;
                color: #000;
            }
            .description{
                font-size: 16px;
                font-weight: 300;
                color: #000;
            }
            .btn-shop{
                @include button($text-base, $text-semibold, $text-c1-primary , $bg-transparent ,10px 30px ,2px solid #2a73dd ,5px ,$bg-c1-primary, $text-c1-light)
            }
            .btn-info{
                // box-shadow: #c9d8f4 0px 3px 6px;
                // font-size: 16px;
                // font-weight: 600;
                // color: #000;
                // background: rgba(0,0,0,0);
                // padding: 10px 30px;
                // border: 2px solid #2a73dd;
                // border-radius: 5px;
                // cursor: pointer;
               @include button($text-base, $text-regular , $text-c1-light ,blue ,10px 30px ,none ,5px , $bg-transparent, $text-c1-dark)
            }
        }
        .thumbnail{
            img{
                width: 100%;
            }
        }
    }
}

// .header .container{
//     display: flex;
//     justify-content: space-between;
// }

// .header .container .logo{

// }


.product{
    .container{
        padding: 30px 0;
        
        .title{
            text-align: center;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            
            .col{
                width: calc(100%/3);
                padding: 15px;

                @for $i from 0 to 6 {
                    .item-#{$i + 1}{
                        animation: fadeInDown (0.5s * $i+1);
                    }
                }
                .card{

                    animation: fadeInDown 0.5s;
                    .card-body{
                        padding: 0 15px;
                        .product-name-price{
                            display: flex;
                            justify-content: space-between;
                            .name{
                                @include text($text-2xl ,$text-semibold ,$text-c1-dark );
                            }
                            .price{
                                @include text($text-2xl ,$text-semibold ,$text-c1-dark );
                            }
                        }
                        .product-desc{
                            .desc{
                                @include text();
                                font-style: italic;
                            }
                        }
                        .product-ratting-btn{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .ratting{
                                color: rgb(252, 212, 11);
                            }
                            .btn-buy{
                                @include button($text-2xl,$text-semibold ,$text-c1-primary ,$bg-c1-light ,15px ,none ,5px , $text-c1-light, $text-c1-dark)
                            }
                        }
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}



@keyframes fadeInDown{
    0%{
        transform: translateY(-200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}