/* Color */
$c-black-0: #000;
$c-black-1: #181818;
$c-white: #fff;
$c-white-1: rgba(255, 255, 255, 1);
$c-white-2: #dcd1f3;
$c-pink: #b61984;

/* Font Size */
$fs-default: 15px;
$fs-0: 10px;
$fs-1: 14px;
$fs-2: 18px;
$fs-3: 22px;
$fs-4: 26px;
$fs-5: 30px;
$fs-6: 34px;
$fs-7: 38px;

/* Font weight */
$fw-normal: normal;
$fw-bold: bold;
$fw-1: 400;
$fw-2: 500;

/* Padding , Margin*/
$sp-0: 4px;
$sp-1: 8px;
$sp-2: 12px;
$sp-3: 16px;
$sp-4: 20px;
$sp-5: 24px;
$sp-6: 28px;
$sp-7: 32px;
$sp-8: 40px;
$sp-9:50px;
$sp-10: 60px;
$sp-11: 8rem;